<div class="main__container">
    <mat-toolbar>
        <button (click)="sidenav.toggle()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
        </button>
        <span>Multisourcing</span>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a mat-list-item routerLink="/visualize">
                    <mat-icon>reset_tv</mat-icon>
                    <span class="nav__item_text">Visualization</span>
                </a>
                <a mat-list-item routerLink="/dataset">
                    <mat-icon>reset_tv</mat-icon>
                    <span class="nav__item_text">Dataset</span></a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>